
/data/

/mbtiles/

/node_modules/

/tmp/
/config.json
/bad-species.txt
/APC-taxon-2020-02-20-5349.csv
/global_tree_search_trees_1_3.csv
/out/

/APC-taxon-2025-08-12-4559.csv
/global_tree_search_trees_1_9.csv

/shell.nix
